:root {
    --lime-green: #d7ed2f;
    --slate-100: #e3f3fd;
    --slate-900: #133040;
    --slate-700: #4e6e7e;
    --white: #ffffff;

}
*{box-sizing:border-box;
margin : 0;
padding: 0;
font-family: sans-serif;
}
body {
    background-color: #133040;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
label {
    displey: block;
    margin-bottom: 8px;
    color: 
        front-weight: 500;
}
    
